* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: arial;
  background: url("../images/body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8%;
  background-color: white;
}

button {
  cursor: pointer;
}

header h3 {
  padding-right: 60px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

header button {
  padding: 8px 15px;
}

.btnTransparent {
  background: none;
  border: none;
}
.btnPrimary {
  background: #222;
  border: none;
  color: white;
}

#toggleNav {
  padding: 20px;
  background: url("../images/openNav.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  border: none;
}

#hiddenNav {
  display: none;
  position: fixed;
  top: 50px;
  width: 100%;
  padding: 10px 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #dcdcdc;
}

#hiddenNav ul {
  list-style: none;
}

#hiddenNav ul li {
  padding: 10px 0;
  text-align: center;
}

#hero {
  display: flex;
  align-items: space-between;
  width: 100%;
  height: 580px;
  padding: 80px 8%;
  background-color: white;
}

#hero #heroContent {
  width: 45%;
  height: 100%;
  padding: 20px 0;
  /* border: 1px solid black; */
}

#hero #heroContent h1 {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 30px;
}

#hero #heroContent button {
  padding: 15px 30px;
  margin-top: 30px;
}

#hero #heroImage {
  width: 55%;
  height: 100%;
  background: url("../images/hero-masked.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  /* border: 1px solid blue; */
}

#banner {
  width: 100%;
  padding: 120px 50px;
  background: rgba(0, 0, 0, 0.6);
  /* border-top: 20px solid #1d3323; */
}

#banner #bannerAnchorPoint {
  height: 70px;
}

#banner .bannerTitle {
  text-align: center;
  font-size: 30px;
  color: #fafafa;
}

#banner .cardsBox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  /* background: rgba(0, 0, 0, 0.5); */
  /* border: 1px solid yellow; */
}

#banner .cardsBox .card {
  width: 300px;
  height: 100%;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: #bbb;
  border: 2px solid #bbb;
  cursor: pointer;
  /* box-shadow: 0px 0px 5px #fff; */
}

#banner .cardsBox .card:hover {
  box-shadow: 0px 0px 5px 3px #fff;
  background-color: white;
  border: 2px solid white;
}

#banner .cardsBox .card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  z-index: 90;
}

#banner .cardsBox .card h2 {
  padding: 10px 20px 0px;
}

#banner .cardsBox .card p {
  padding: 10px 20px;
  font-size: 14px;
}

#banner .cardsBox .card button {
  padding: 5px 15px;
  margin-left: 20px;
}

.buttonGo {
  display: block;
  padding: 10px 50px;
  margin: 60px auto 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #555;
  border: 1px solid #555;
  cursor: default;
}

.detailBox {
  position: fixed;
  display: none;
  z-index: 2;
  width: 90%;
  height: 90%;
  top: 0;
  left: 50%;
  margin-top: 20px;
  margin-left: -45%;
  background: rgba(20, 20, 20, 1);
  border-radius: 10px;
  color: white;
}

.detailBox .close {
  position: absolute;
  padding: 15px;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.detailBox .close:hover {
  color: red;
}

.detailBox h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.blankSpace {
  width: 100%;
  height: 200px;
  background-color: white;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #222;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1336px) {
  #hero {
    height: 530px;
  }

  #hero #heroContent {
    width: 50%;
  }

  #hero #heroContent h1 {
    line-height: 85px;
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  #hero #heroImage {
    width: 50%;
  }

  #hero #heroContent button {
    padding: 15px 30px;
    margin-top: 20px;
  }

  #banner .cardsBox {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1220px) {
  #hero {
    height: 480px;
  }

  #hero #heroContent {
    width: 50%;
  }

  #hero #heroContent h1 {
    line-height: 75px;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  #hero #heroImage {
    width: 50%;
  }

  #hero #heroContent button {
    padding: 15px 30px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1110px) {
  header {
    padding: 4px 6%;
  }

  #hero {
    padding: 80px 6%;
  }

  #hero #heroImage {
    height: 90%;
  }

  #banner .cardsBox {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #banner .cardsBox .card {
    width: 60%;
    height: 30%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1040px) {
  header {
    z-index: 1;
  }

  header ul {
    display: none;
  }

  .signGroup {
    display: none;
  }

  #toggleNav {
    display: inline-block;
  }

  #hiddenNav {
    display: none;
    z-index: 1;
  }

  #hero {
    position: relative;
    height: 560px;
  }

  #hero #heroContent {
    width: 45%;
  }

  #hero #heroImage {
    width: 55%;
  }

  .heroDesc {
    position: absolute;
    bottom: 75px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .btnHero {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 15px;
  }
}

@media screen and (max-width: 946px) {
  #hero #heroContent {
    width: 40%;
  }

  #hero #heroImage {
    width: 60%;
  }

  #hero #heroContent h1 {
    line-height: 65px;
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  #banner .cardsBox .card {
    width: 75%;
    height: 30%;
  }
}

@media screen and (max-width: 890px) {
  #hero {
    height: 630px;
    padding: 60px 6% 160px;
    flex-direction: column;
  }

  #hero #heroContent {
    width: 100%;
    height: auto;
    flex-grow: 0;
    text-align: center;
  }

  #hero #heroImage {
    width: 100%;
    flex-grow: 1;
    background-position: center;
  }

  #banner .cardsBox .card {
    width: 85%;
  }
}

@media screen and (max-width: 650px) {
  #hero {
    height: 670px;
    padding: 60px 8% 180px;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .hideAbleHeroDesc {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  #hero #heroContent h1 {
    line-height: 60px;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  #banner .cardsBox .card {
    width: 95%;
  }
}

@media screen and (max-width: 405px) {
  #hero #heroContent h1 {
    line-height: 60px;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  #banner .cardsBox .card {
    width: 100%;
  }
}
